/* Disable item record images */
.item.record .image {
  display: none !important;
}

/* Disable mobile default style */
.mobile, .mobile * {
  display: none;
}

/*
--------------------------------------------------------------------------------
                                     FONTS
--------------------------------------------------------------------------------
*/
@font-face {
  font-family: 'UbuntuMono';
  font-weight: 400;
  font-style: normal;
  src: url('./UbuntuMono-R.ttf');
}

@font-face {
  font-family: 'UbuntuMono';
  font-weight: 400;
  font-style: italic;
  src: url('./UbuntuMono-RI.ttf');
}

@font-face {
  font-family: 'UbuntuMono';
  font-weight: 700;
  font-style: normal;
  src: url('./UbuntuMono-B.ttf');
}

@font-face {
  font-family: 'UbuntuMono';
  font-weight: 700;
  font-style: italic;
  src: url('./UbuntuMono-BI.ttf');
}

@font-face {
  font-family: 'RoutedGothicNarrow';
  font-weight: 400;
  font-style: normal;
  src: url('./routed-gothic-narrow.ttf');
}

@font-face {
  font-family: 'RoutedGothicNarrow';
  font-weight: 400;
  font-style: italic;
  src: url('./routed-gothic-narrow-half-italic.ttf');
}

@font-face {
  font-family: 'RoutedGothic';
  font-weight: 400;
  font-style: normal;
  src: url('./routed-gothic.ttf');
}

@font-face {
  font-family: 'RoutedGothic';
  font-weight: 400;
  font-style: italic;
  src: url('./routed-gothic-italic.ttf');
}

@font-face {
  font-family: 'RoutedGothicWide';
  font-weight: 400;
  font-style: normal;
  src: url('./routed-gothic-wide.ttf');
}

@font-face {
  font-family: 'RoutedGothicWide';
  font-weight: 400;
  font-style: italic;
  src: url('./routed-gothic-wide-italic.ttf');
}

@font-face {
  font-family: 'WorkSans';
  font-weight: 400;
  font-style: normal;
  src: url('./WorkSans-Regular.woff');
}

@font-face {
  font-family: 'WorkSans';
  font-weight: 400;
  font-style: italic;
  src: url('./WorkSans-Italic.woff');
}

@font-face {
  font-family: 'WorkSans';
  font-weight: 700;
  font-style: normal;
  src: url('./WorkSans-Bold.woff');
}

@font-face {
  font-family: 'WorkSans';
  font-weight: 700;
  font-style: italic;
  src: url('./WorkSans-BoldItalic.woff');
}

@font-face {
  font-family: 'WorkSans';
  font-weight: 300;
  font-style: normal;
  src: url('./WorkSans-Light.woff');
}

@font-face {
  font-family: 'WorkSans';
  font-weight: 300;
  font-style: italic;
  src: url('./WorkSans-LightItalic.woff');
}

/*
--------------------------------------------------------------------------------
                                     COMMON
--------------------------------------------------------------------------------
*/
:root {
  --border_color: #8888;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'WorkSans';
  padding: 0;
  margin: 0;
  /* display: flex;
  flex-direction: column; */
  height: 100vh;
  max-height: 100vh;
}

a {
  color: black;
}

#wrap {
  /* display: flex;
  flex-direction: column;
  flex: 1; */
  overflow-y: auto;
  height: 100%;
}

#content-header-wrap {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
}

footer {
  display: none;
}

h1, h2 {
  font-family: 'RoutedGothicNarrow';
  font-weight: normal;
}

h2 {
  font-family: 'RoutedGothic';
}

input, button {
  transition: color 0.1s, background-color 0.25s;
  font-family: 'WorkSans';
  font-size: 1rem;
  background-color: #fff;
  color: #000;
  border: solid 1px var(--border_color);
  padding: 0.25rem 0.75rem 0.25rem 0.75rem !important;
  outline: none;
}

input:hover, button:hover {
  background-color: #000;
  color: #fff;
}

fieldset {
  padding: 1rem !important;
  margin-bottom: 1rem !important;
  border: solid 1px var(--border_color);
}

.show-advanced.button {
  display: inline-block;
}

label>input {
  margin-right: calc(1rem / 3.5);
}

/*
--------------------------------------------------------------------------------
                                     HEADER
--------------------------------------------------------------------------------
*/
header * {
  margin: 0;
  padding: 0;
}

header {
  /*border-bottom: solid 1px var(--border_color);*/
}

header nav {
  display: flex;
  align-items: center;
  padding: 1rem;
}

header li {
  margin-right: 1rem;
  vertical-align: top;
  list-style: none;
}

header a {
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

@media(min-width: 600px) {
  header li {
    display: inline-block;
  }
}

@media(min-width: 800px) {
  #title-navigation-search-wrap {
    flex: 1;
  }

  #title-navigation-wrap {
    display: flex;
    flex: 1;
  }
}

@media(max-width: 1366px) {
  header {
    display: flex;
    flex-direction: column;
  }
}

@media(min-width: 1366px) {
  header {
    display: flex;
  }
}

/*                                   TITLE                                    */
#site-title {
  display: flex;
  align-items: center;
  font-family: 'RoutedGothicNarrow';
  text-transform: uppercase;
  font-size: 2rem;
  flex: none;
}

@media(max-width: 800px) {
  #site-title {
    padding: 1rem 1rem 0rem 1rem;
  }
}

@media(min-width: 800px) {
  #site-title {
    padding: 1rem;
  }
}

#site-title a {
  text-decoration: none;
}

/*                                    NAV                                     */
#top-nav {
  flex: 1;
}

/*                                   ADMIN                                    */
#admin-bar {
  flex: none;
  background-color: #acf;
}

#admin-bar>ul>li>ul {
  display: none;
}

#admin-bar>ul>li:hover>ul {
  display: block;
  position: absolute;
  background-color: #acf;
  padding: 1rem 0rem 1rem 1rem;
}

@media(max-width: 1366px) {
  #admin-bar {
    order: -1;
    border-bottom: solid 1px var(--border_color);
  }
}

@media(min-width: 1366px) {
  #admin-bar {
    border-left: solid 1px var(--border_color);
    padding-left: 2rem;
  }
}

/*
--------------------------------------------------------------------------------
                                    CONTENT
--------------------------------------------------------------------------------
*/
/*                                  WRAPPER                                   */
#content_wrapper {
  /* background-image: url('./bg.png'); */
  display: flex;
  flex-flow: row;
  align-items: top;
  /* flex: 1; */
  /* overflow-y: hidden; */
  position: relative;
  min-height: 91.5%;
}

#background-img {
  background-image: url('./bg.png');
  /* content: ' '; */
  /* display: block; */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: -1;
}

@media(min-width: 60rem) {
  #content_wrapper {}
}

#left-header {
  position: -webkit-sticky;
  position: sticky;
  top: -0px;
}

/*
================================================================================
                                ITEM DISPLAY
================================================================================
*/
/*                    LEFT-CONTENT DIV GENERAL STRUCTURE :                       */
#left-content {
  background-color: #fff;
  border-right: solid 1px var(--border_color);
  width: 28rem;
  overflow-y: auto;
  /* flex:1; */
  /* display: flex;
  flex-direction: column; */
}

.left-main-content {
  padding: 1rem;
  background-color: #ffa;
  flex: 1;
}

#left-content h1 {
  background-color: #ffa;
  /*font-size: 1rem !important; */
  /* Modif Théo */
  font-size: 26px;
  font-weight: normal;
  font-family: "RoutedGothic";
  padding: 1rem 1rem 1rem 1rem;
  margin: 0;
  border-bottom: solid 1px var(--border_color);
}

.left-main-content h2, .left-main-content h3 {
  font-size: 1rem !important;
  font-weight: normal;
  line-height: 1.3;
  /* font-family: "WorkSans"; */
  font-family: "RoutedGothicWide";
  /* padding-bottom : 5px instead of 1rem */
  padding: 0;
  padding-bottom: 5px;
  margin: 0;
}

.left-main-content .item.record h3 {
  padding: 0;
  margin: 0;
}

.left-main-content .item.record, .left-main-content .element-text {
  display: inline-block !important;
}

.left-main-content .element-text a, .left-main-content .item.record h3 a {
  text-decoration: none;
}

/* -------- BACKGROUND COLOR OF LEFT-CONTENT DEPENDS OF ITEM TYPE -------- */
#films {
  background-color: #faf !important;
  /* Purple - Pink */
}

#analyses {
  background-color: #ffa !important;
  /* Yellow-ish */
}

#analyses-danalyses {
  background-color: #afa !important;
  /* Chartreuse Green ;)  */
}

#thorie-de-lanalyse {
  background-color: #acf !important;
}

/* -------- MEDATAS ARE BROKEN INTO 3 GROUPS & DIVS : -------- */
hr {
  margin: 1.2rem 0;
}

/* A margin can be set for all displayed metadata (or property) h */
#biblio>*, #thematiques>*, #contenu-film>* {
  margin-top: 5px;
  margin-bottom: 0px;
}

/* The bibliographic info is displayed inside a table */
#table-biblio:after {
  content: '';
  display: block;
  clear: both;
}

/* In this table, "Revue" and "Numéro" are displayed on the same ligne. Same for "Editeur" and "Collection"  */
#analyses-item-type-metadata-revue,
#thorie-de-l039analyse-item-type-metadata-revue,
#analyses-d039analyses-item-type-metadata-revue,
#dublin-core-publisher {
  width: auto;
  float: left;
  margin-right: 20px;
}

#analyses-item-type-metadata-numro, #analyses-item-type-metadata-collection,
#thorie-de-l039analyse-item-type-metadata-numro, #thorie-de-l039analyse-item-type-metadata-collection,
#analyses-d039analyses-item-type-metadata-numro, #analyses-d039analyses-item-type-metadata-collection {
  width: auto;
  float: left;
}

/* ----------- Collection / next or previous item are hidden :  ------------ */
div.left-main-content>div#collection.element {
  display: none;
}

div.left-main-content>ul.item-pagination.navigation {
  display: none;
}

.left-main-content .element-text {
  /* padding: 0.4rem 0.6rem 0.4rem 0.6rem; */
  /* margin-bottom: 0.5rem; */
}

#item-type {
  padding-left: 1rem;
  background-color: #ffa;
}

#item-type>p>em {
  font-size: 18px;
}

/*           ITEMS RELATIONS           */
#relations>* {
  padding: 1rem;
}

.left-main-content .item.record a, .left-main-content .element-text, #relations td a {
  transition: color 0.1s, background-color 0.25s;
  font-size: 1rem !important;
  font-weight: normal;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 2rem;
  display: block;
  border: solid 1px var(--border_color);
  margin-bottom: 0.5rem;
  overflow: hidden;
  text-decoration: none;
}

#relations td {
  display: block;
  font-size: 0;
}

#relations td a {
  margin-top: 0rem;
  margin-bottom: 0rem;
  display: inline-block !important;
}

#relations tr:not(tr:last-of-type) {
  display: inline-block;
}

#relations div h2:first-child {
  margin-top: 0px !important;
}

#relations h2 {
  margin: 0.8rem 0 0.5rem 0;
  font-size: 1rem !important;
  font-family: "RoutedGothicWide";
}

/* Color now varries depending on the related item's type */
#relations-to-analyses-from-films {
  border-bottom: solid 1px var(--border_color);
  background-color: #ffa;
  margin: -1.2rem -2rem 1.2rem -2rem;
  padding: 1.2rem 2rem 1.2rem 2rem;
}

#relations-to-analyses-from-analysesdanalyses {
  border-bottom: solid 1px var(--border_color);
  background-color: #ffa;
}

#relations-to-films-from-analyses, #relations-to-films-from-films

/* 2nd not supposed to exists ... but justincase */
  {
  border-bottom: solid 1px var(--border_color);
  background-color: #faf;
}

#relations-to-analysesdanalyses {
  border-bottom: solid 1px var(--border_color);
  background-color: #afa;
}

.left-main-content .element-text a {
  transition: color 0.1s, background-color 0.25s;
  background-color: white;
  padding: 1rem;
  margin: -1rem;
  display: block;
}

.left-main-content .item.record a, #relations td a {
  transition: color 0.1s, background-color 0.25s;
  background-color: white;
}

.left-main-content .item.record a:hover, .left-main-content .element-text a:hover, #relations td a:hover {
  background-color: black;
  color: white;
}

.left-main-content .element-text p {
  padding: 0;
  margin: 0;
}

/*                                   SEARCH CONTAINERS AND FORMS                                   */


#search-applied-facets-wrapper {
  display:flex;
  flex-direction:row;
}

#search-applied-facets-title{
  flex:1;
  display:flex;
  justify-content: center;
  align-items: center;  
}

#solr-applied-facets{
  flex:3;
}


#solr-applied-facets ul {
  list-style-type: none;
  padding:0;
  display: flex;
  flex-flow: row wrap;
}

#solr-applied-facets h5, #solr-facets h5 {
  padding-left: 0.3rem;
}

#solr-applied-facets li {
  padding-left: 1rem;
  display: inline flex !important;
  width:unset;
}

#solr-applied-facets a{
  color:white !important;
  text-decoration: none;
  /* margin-left: 10px; */
}

span.applied-facet-value{
  margin-right:10px;
}

#search-container {
  position: -webkit-sticky;
  position: sticky;
  top: -0px;
  background-color: #fff;
  z-index: 1;
  /* Prevents visual glitch when scrolling  */
}

#advanced-form.closed {
  display: none;
}

#advanced-form a {
  text-decoration: underline;
}

@media(min-width: 1366px) {
  #search-container {
    background-color: white;
  }
}

#search-wrapper {
  display: block;
  width: 100%;
}

#search-form #query {
  float: left;
  display: block;
  width: 70%;
  margin-right: 1rem;
}


#submit-search {
  float: left;
}

#advance-search-link-a {
  transition: color 0.1s, background-color 0.25s;
  font-family: 'WorkSans';
  font-size: 1rem;
  background-color: #fff;
  color: #000;
  border: solid 1px var(--border_color);
  padding: 0.25rem 0.75rem 0.25rem 0.75rem !important;
  outline: none;
  margin: 0px;
  text-decoration: none;
}

#advance-search-link-a:hover {
  background-color: #000;
  color: #fff;
}

/*                                  CONTENT                                   */
#content-margin {
  /* padding: 1rem; */
  border-top: solid 1px var(--border_color);
  flex: 2;
  /*  display: flex; */
  overflow-y: auto;
}

#content {
  background-color: #fff;
  width: 100%;
  max-width: 60rem;
  padding: 1rem 1rem 2rem 1rem;
  margin: auto;
}

#content-full {
  border-top: solid 1px var(--border_color);
  flex: 2;
  display: flex;
  flex-direction: column;
}

/* #content-full>* {
  flex: 1;
} */

#content-full * {
  margin: 0 !important;
  padding: 0 !important;
}

.pdfViewer {
  padding-bottom: 100px !important;
}

#content-full object, #content-full .item-file {
  height: 100% !important;
}

#primary textarea {
  width: 100%;
}

@media(min-width: 480px) {
  #content {
    padding: 2rem 2rem 3rem 2rem;
  }
}

/*
--------------------------------------------------------------------------------
                                     FOOTER
--------------------------------------------------------------------------------
*/
footer {
  background-color: #fdb;
  padding-left: 1rem;
  border-top: solid 1px var(--border_color);
}

footer * {
  font-size: 0.9rem;
  line-height: 1rem;
}

footer>*, #custom-footer-text>* {
  display: inline-block;
  vertical-align: top;
  margin-right: 1rem;
}

/*
================================================================================
                                   GRID MODE

            MOSTLY REPLACED AND OVERRIDEN BY SOLR SEARCH AND SOLR CARDS

================================================================================
*/
.items.browse #content-margin,
.search #content-margin {
  padding: 0;
}

.items.browse #content,
.search #content {
  max-width: initial;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  background-color: initial;
}

.items.browse .item.record,
.search .item,
.search .collection,
.search .file {
  background-color: #afa;
  border-right: solid 1px var(--border_color);
  border-bottom: solid 1px var(--border_color);
  padding: 1rem 1rem 1rem 1rem;
}

.items.browse .item.record .item-meta,
.search .item .item-meta,
.search .collection .item-meta,
.search .file .item-meta {
  height: 200px;
  display: block;
}

div.item-properties {
  height: 200px;
  margin-top: 15%;
  display: inline-block;
  vertical-align: middle;
}

.items.browse .item.record h2,
.search .file h2,
.search .collection h2,
.search .item h2 {
  font-size: 1rem;
  font-family: RoutedGothic;
  margin: 0;
  margin-bottom: 1rem;
  min-height: 58px;
}

.items.browse .item.record h2 a {
  text-decoration: none;
}

#content-margin .item.record {
  position: relative;
  min-width: 285px;
  min-height: 288px;
}

.item-meta {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

/*
================================================================================
                                PAGE EXCEPTIONS
================================================================================
*/
/* ############ HOME PAGE #############*/

#index-wrapper {
  display:block;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

#index-separator {
  height: 30px;
  display: block;
}

#index-text {

  font-size:larger;
  padding: 0.5rem 2rem;
  color:black;
  background-color:white;
  -webkit-box-shadow: 5px 5px 5px -4px #000000;
  box-shadow: 5px 5px 5px -4px #000000;
}

#index-text li {
  margin-bottom:0.8rem;
}

#index-text a {
  text-decoration: none !important;
  font-variant: small-caps;
  border-radius: 5px;
  padding: 0 5px;
}

#index-text a:hover {
  text-decoration: none !important;
  color: #000 !important;
  -webkit-box-shadow: 5px 5px 5px -4px #000000;
  box-shadow: 5px 5px 5px -4px #000000;
}

#recent-items {
  padding: 1rem;
  column-count: auto;
  column-width: 200px;
}

#recent-items .cartouche {
  word-wrap: break-word;
  width: 100% !important;
  height: auto !important;
  page-break-inside: avoid;
  cursor: pointer;
  display: inline-block;
  margin: 0.25rem 0;
  text-align: center;
  padding: 0.25rem;
  background-color: white;
  border-radius: 0.375rem;
  font-size: smaller;
  font-weight: 400;
}

#recent-items .cartouche:hover {
  background-color: rgba(255, 255, 255, 1);
  -webkit-box-shadow: 5px 5px 5px -3px #000000;
  box-shadow: 5px 5px 5px -3px #000000;
}

#recent-items .cartouche.hideit {
  background-color: rgba(255, 255, 255, 0.2);
  color: lightgray;
  border: 4px solid rgba(255, 255, 170, 0.2) !important;
}

#recent-items .films {
  border: 4px solid rgba(255, 170, 255, 0.7) !important;
}

#recent-items .analyses {
  border: 4px solid rgba(255, 255, 170, 0.7) !important;
}

#recent-items .analyses-danalyses {
  border: 4px solid rgba(170, 255, 170, 0.7) !important;
}

#recent-items .thorie-de-lanalyse {
  border: 4px solid rgba(170, 204, 255, 0.7) !important;
}

#recent-items .films:hover {
  border: 4px solid rgba(255, 170, 255, 1) !important;
}

#recent-items .analyses:hover {
  border: 4px solid rgba(255, 255, 170, 1) !important;
}

#recent-items .analyses-danalyses:hover {
  border: 4px solid rgba(170, 255, 170, 1) !important;
}

#recent-items .thorie-de-lanalyse:hover {
  border: 4px solid rgba(170, 204, 255, 1) !important;
}

#index-text #analyse {
  border: 4px solid #ffa;
}

#index-text #film {
  border: 4px solid #faf;
}

#index-text #analysedanalyse {
  border: 4px solid #afa;
}

#index-text #theorie {
  border: 4px solid #acf;
}

#index-text a:hover #analyse {
  background-color: #ffa;
}

#index-text a:hover #film {
  background-color: #faf;
}

#index-text a:hover #analysedanalyse {
  background-color: #afa;
}

#index-text a:hover #theorie {
  background-color: #acf;
}



/* ############ Other Exceptions  #############*/
.login #content_wrapper,
.register #content_wrapper,
.collections.show #content_wrapper {
  display: block;
  overflow-y: hidden;
  padding: 1rem;
  border-top: solid 1px var(--border_color);
}

.advanced-search #content_wrapper {
  display: block;
  overflow-y: visible !important;
  padding: 1rem;
  border-top: solid 1px var(--border_color);
}

.login #content_wrapper h1,
.register #content_wrapper h1,
.advanced-search #content_wrapper h1,
.collections.show #content_wrapper h1,
#content_wrapper>#primary h1 {
  text-align: center;
  padding-bottom: 1rem;
}

.login #content_wrapper>*,
.register #content_wrapper>*,
.advanced-search #content_wrapper>*,
.collections.show #content_wrapper>*,
#content_wrapper>#primary {
  width: 60rem;
  max-width: 100%;
  margin: auto;
  background-color: white;
  padding: 1rem 2rem 2rem 2rem;
}

#content_wrapper {
  vertical-align: top;
}

.login #content_wrapper .field:not(:last-of-type),
.register #content_wrapper .field:not(:last-of-type),
.advanced-search #content_wrapper .field:not(:last-of-type),
#content_wrapper>#primary .field:not(:last-of-type) {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: solid 1px var(--border_color);
}

.login #content_wrapper label,
.register #content_wrapper label,
.advanced-search #content_wrapper label,
#content_wrapper>#primary label {
  font-weight: bold;
}

.login #content_wrapper input,
.register #content_wrapper input,
.advanced-search #content_wrapper input,
#content_wrapper>#primary input,
#content_wrapper>#primary textarea {
  margin-top: 1rem;
}

.login #content_wrapper .field p,
.register #content_wrapper .field p,
.advanced-search #content_wrapper .field p,
#content_wrapper>#primary .field p {
  margin-bottom: 0;
}

/*
================================================================================
                                SOLR SEARCH
================================================================================
*/
/*             SOLR GEN STRUCTURE            */
/* New SOLR flex wrapper to override the hidden overflow of content_wrapper
and distribute all children as rows or columns */
#solr_wrapper {
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
}

/* Search form. */
div.solr {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
}

#solr-search-form {
  display: block;
  width: 100%;
  padding: 0 0 20px 10px;
}

#search-form {
  display: block;
  width: 100%;
  padding: 0 0 0 10px;
}

#solr-search-form > input {
  float: left;
}

#solr-search-form #solr-search-input {
  float: left;
  display: block;
  width: 70%;
  margin-right: 1rem;
}

/* Adavance search button */
#advance-search-link-b, #show-all-items-link {
  transition: color 0.1s, background-color 0.25s;
  font-family: 'WorkSans';
  font-size: 1rem;
  background-color: #fff;
  color: #000;
  border: solid 1px var(--border_color);
  padding: 0.25rem 0.75rem 0.25rem 0.75rem !important;
  outline: none;
  float: left;
  margin: 0px;
  text-decoration: none;
}

#advance-search-link-b:hover, #show-all-items-link:hover, #homepage_all_items_link:hover {
  background-color: #000;
  color: #fff;
}

#solr-search-form>button>a {
  text-decoration: none;
  display: block;
  height: 100%;
  width: 100%;
}

#solr-search-form>button:hover>a {
  color: white;
}

/*             SOLR FACETS            */
.accordion-button:hover, .accordion-button:focus, .accordion-button:not(.collapsed):hover, .accordion-button.collapsed:hover {
  padding: 2px 10px;
  background-color: black;
  color: white !important;
  border-color: black;
  box-shadow: unset;
}

.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.accordion-button, .accordion-button:not(.collapsed), .accordion-button.collapsed {
  padding: 2px 10px;
  background-color: lightgrey;
  color: black !important;
  border-color: black;
}

.list-group-item {
  padding: 2px;
}

.list-group-item-action:focus, .list-group-item-action:hover, .list-group-item-action:hover>a {
  color: white;
  background-color: black;
}

.list-group-item-action>a {
  width: 100%;
}

.form-control:focus {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .85);
  border-color: black;
}

a.facet-value {
  text-decoration: none;
}

/* color depending of type-de-contenu */
ul[data-facette="type-de-contenu"] li[data-value="Films"] {
  background-color: #faf;
}

ul[data-facette="type-de-contenu"] li[data-value="Analyses"] {
  background-color: #ffa;
}

ul[data-facette="type-de-contenu"] li[data-value="Analyses d'analyses"] {
  background-color: #afa;
}

ul[data-facette="type-de-contenu"] li[data-value="Théorie de l'analyse"] {
  background-color: #acf;
}

/*    SOLR RESULTS CONTAINER DIVS   */
/* start result display on a new line, after pagination */
#search-content {
  margin-right: 1rem;
  clear: both;
}

#solr-results {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  margin-left: 2%;
  margin-right: 8%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .125);
  padding: 20px;
  margin-bottom: 50px;
}

#solr-results .result-title, #solr-results .result-type {
  font-size: 18px;
}

#solr_results_head {
  display: flex;
  flex-direction: row;
}

h5#num-found {
  padding: 10px 20px 10px 20px !important;
  background-color: white;
  display: block;
  margin-bottom: 0px !important;
  font-weight: bold;
}

/* -------- SOLR RESULTS IN BOOTSTRAP CARD GRID  -------- */
/* Dynamic boostrap columns */
/* Modifies the .row-cols-md-3 class ... using an ID so that these rules do not affect the home page */
.result-item {
  border-radius: 0px;
}

.match-facet {
  margin-left: 10px;
  display: flex;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

.match-facet>span {
  display: block;
  width: 50%;
}

.match mark {
  color: white;
  background-color: black;
  font-style: normal;
  padding: 0px 4px;
}

#solr-facets #panelsStayOpen-collapsetype-de-contenu .Films {
  background-color: #faf;
}

#solr-facets #panelsStayOpen-collapsetype-de-contenu .Analyses {
  background-color: #ffa;
}

#solr-facets #panelsStayOpen-collapsetype-de-contenu li[class="Analyses d'analyses"] {
  background-color: #afa;
}

#solr-facets #panelsStayOpen-collapsetype-de-contenu li[class="Théorie de l'analyse"] {
  background-color: #acf;
}

.facet-match {
  background: yellow;
}

.result-item[data-type=analyses] {
  border: 9px solid #ffa !important;
}

.result-item[data-type=films] {
  border: 9px solid #faf !important;
}

.result-item[data-type=analyses-danalyses] {
  border: 9px solid #afa !important
}

.result-item[data-type=thorie-de-lanalyse] {
  border: 9px solid #acf !important
}

.result-item:hover {
  box-shadow: 8px 8px 3px -5px rgba(0, 0, 0, 1);
}

.result-item {
  box-shadow: 8px 8px 3px -5px rgba(0, 0, 0, 0.6);
}

/*  --------------- SOLR TOP PAGINATION --------------- */
/* Solr Pagination */
#solr_pagination_top {
  display: flex;
  flex-basis: 40%;
  margin: 0 !important;
  position: sticky;
  top: -0px;
  z-index: 1;
  width: 100%;
  background-color: white;
  align-items: center;
  justify-content: center;
  max-height: 65px;
}

#solr_pagination_top>nav {
  max-height: 42px;
  margin-top: 6px;
}

#solr_pagination_top nav ul.pagination li.page-input form {
  margin-right: 10px;
  margin-top: 2px;
}

#solr_pagination_top input {
  max-width: 45px;
  margin-left: 5px;
  margin-right: 5px;
}

#solr_pagination_top a.page-link {
  color: #000;
}

#solr_pagination_top a.page-link:hover {
  color: white;
  background-color: #000;
  border-color: #d000;
}

#solr_pagination_top form input {
  max-width: 50px;
  margin-left: 10px;
  margin-right: 15px;
}

/* PAGINATION FORM STYLE IF THE CLassic Search and Browse page is used (should not anymore)*/
div#left-main-content nav form input {
  max-width: 50px;
  margin-left: 10px;
  margin-right: 15px;
}

div#left-main-content nav form {
  margin-right: 10px;
}

div#content-full nav div.nav.nav-tabs button.nav-link {
  padding: 10px 20px 10px 20px !important;
}

button.nav-link[title="Texte"]::before, button.nav-link[title="Sommaire"]::before {
  content: '...';
  background-image: url(../icons/align-justify-solid.svg);
  background-size: 13px 19px;
  background-repeat: no-repeat;
  margin-right: 5px;
  color: transparent;
}

button.nav-link[title="Texte"].active::before, button.nav-link[title="Sommaire"].active::before {
  content: '...';
  background-image: url(../icons/align-justify-solid-white.svg);
  background-size: 13px 19px;
  background-repeat: no-repeat;
  margin-right: 5px;
  color: transparent;
}

button.nav-link[title="Document Original"]::before, button.nav-link[title="1ère de couverture"]::before, button.nav-link[title="4ème de couverture"]::before {
  content: '...';
  background-image: url(../icons/file-image-solid.svg);
  background-size: 13px 19px;
  background-repeat: no-repeat;
  margin-right: 5px;
  color: transparent;
}

button.nav-link[title="Document Original"].active::before, button.nav-link[title="1ère de couverture"].active::before, button.nav-link[title="4ème de couverture"].active::before {
  content: '...';
  background-image: url(../icons/file-image-solid-white.svg);
  background-size: 13px 19px;
  background-repeat: no-repeat;
  margin-right: 5px;
  color: transparent;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: #000 !important;
  color: #fff !important;
}

.nav-tabs .nav-link {
  background-color: #fff !important;
  color: #000 !important;
}

/* ############### SOLR ADMIN ################## */
#fieldset-fields {
  min-width: 600px;
  /* border: none !important;
  margin: none !important;
  padding:  none !important;
  min-width:  none !important; */
  color: red;
}
